.DS_Store
Thumbs.db
CLAUDE.md

/vendor/
/node_modules/
*.log

/public/build
/public/hot
/public/storage
/public/fonts-manifest.dev.json

storage/*.key
/storage/pail

.env
.env.backup
.env.production
.phpunit.result.cache
/.phpunit.cache
_ide_helper.php

Homestead.yaml
Homestead.json
/.vagrant
.phpactor.json
auth.json

/.idea
/.vscode
/.nova
/.zed
/.cursor/
/.codex
